* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d1117;
    color: #c9d1d9;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

h1, p, a, nav {
    background-color: transparent;
}

header {
    display: flex;
    align-items: left;
    padding: 1rem;
    background-color: #161b22;
    border-bottom: 1px solid #30363d;
    color: #ffffff;
}

nav {
    margin-right: auto;
}

nav a {
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #30363d;
}

aside {
    float: left;
    width: 25%;
    padding: 1rem;
    border-right: 1px solid #30363d;
    background-color: #161b22;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

aside p, aside a {    
    text-align: center;
    margin-bottom: 1rem;
}

.nome {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    background-color: transparent;
}

.foto-perfil {
    width: 60%;
    border: 1px solid #3f454b;
    border-radius: 50%;
    height: auto;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.foto-linkedin {
    width: 20%;
    max-width: 25px;
    max-height: auto;
    border-radius: 50%;
    height: auto;
    margin-bottom: 1rem;
}

.foto-github {
    width: 20%;
    max-width: 25px;
    max-height: auto;
    height: auto;
    margin-bottom: 1rem;
}
.foto-whatsapp {
    width: 20%;
    max-width: 25px;
    max-height: auto;
    height: auto;
    margin-bottom: 1rem;
}

main {
    float: left;
    width: 70%;
    padding: 2rem;
    background-color: #0d1117;
    color: #c9d1d9;
}

