* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d1117;
    color: #c9d1d9;
}

body {
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

h1, p, a , nav{
    background-color: transparent;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;


    background-color: #161b22;
    border-bottom: 1px solid #30363d;
    text-align: center;
    color: #ffffff;
}

aside {
    float: left;
    width: 25%;
    padding: 1rem;
    border-right: 1px solid #30363d;
    background-color: #161b22;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.foto-perfil {
    width: 60%;
    border: 1px solid #3f454b;
    border-radius: 50%;
    height: auto;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

main {
    float: left;
    width: 70%;
    padding: 2rem;
    background-color: #0d1117; /* Fundo escuro para o conteúdo principal */
    color: #c9d1d9; /* Texto claro */
}
